In [1]:
import pandas as pd

Understand Dataset

In [2]:
df = pd.read_csv(r"C:\Users\MS Mthethwa\OneDrive\Desktop\MUT\Programming (Year 2)\TECHNICAL PROGRAMMING II\motor_data11-14lats.csv")

In [3]:
print(df)

        SEX INSR_BEGIN   INSR_END EFFECTIVE_YR  INSR_TYPE  INSURED_VALUE  \
0         0  08-AUG-13  07-AUG-14           08       1202      519755.22
1         0  08-AUG-12  07-AUG-13           08       1202      519755.22
2         0  08-AUG-11  07-AUG-12           08       1202      519755.22
3         0  08-JUL-11  07-AUG-11           08       1202      519755.22
4         0  08-AUG-13  07-AUG-14           08       1202      285451.24
...     ...        ...        ...          ...        ...            ...
293532    2  11-AUG-12  10-AUG-13           88       1201           0.00
293533    2  11-AUG-11  10-AUG-12           88       1201           0.00
293534    2  01-JUN-13  31-MAY-14           13       1201      250000.00
293535    0  08-JUL-12  07-JUL-13           85       1202           0.00
293536    0  08-JUL-11  07-JUL-12           85       1202           0.00

         PREMIUM   OBJECT_ID  PROD_YEAR  SEATS_NUM  CARRYING_CAPACITY  \
0       7209.140  5000029885     2007.0        4.0                6.0
1       7203.890  5000029885     2007.0        4.0                6.0
2       7045.804  5000029885     2007.0        4.0                6.0
3        287.250  5000029885     2007.0        4.0                6.0
4       4286.900  5000029901     2010.0        4.0                7.0
...          ...         ...        ...        ...                ...
293532   577.700  5000047311     1985.0        4.0                NaN
293533   695.318  5000047311     1985.0        4.0                NaN
293534  4778.450  5000949222     1993.0        4.0                NaN
293535  1057.427  5000049231     2017.0        2.0                0.0
293536  1001.537  5000049231     2017.0        2.0                0.0

       TYPE_VEHICLE  CCM_TON    MAKE            USAGE  CLAIM_PAID
0           Pick-up   3153.0  NISSAN        Own Goods         NaN
1           Pick-up   3153.0  NISSAN        Own Goods         NaN
2           Pick-up   3153.0  NISSAN        Own Goods         NaN
3           Pick-up   3153.0  NISSAN        Own Goods         NaN
4           Pick-up   2494.0  TOYOTA        Own Goods    19894.43
...             ...      ...     ...              ...         ...
293532   Automobile   1295.0  TOYOTA          Private         NaN
293533   Automobile   1295.0  TOYOTA          Private         NaN
293534   Automobile   1295.0  TOYOTA          Private         NaN
293535        Truck   4570.0   ISUZU  General Cartage         NaN
293536        Truck   4570.0   ISUZU  General Cartage         NaN

[293537 rows x 16 columns]

In [4]:
print(df.head())

   SEX INSR_BEGIN   INSR_END EFFECTIVE_YR  INSR_TYPE  INSURED_VALUE   PREMIUM  \
0    0  08-AUG-13  07-AUG-14           08       1202      519755.22  7209.140
1    0  08-AUG-12  07-AUG-13           08       1202      519755.22  7203.890
2    0  08-AUG-11  07-AUG-12           08       1202      519755.22  7045.804
3    0  08-JUL-11  07-AUG-11           08       1202      519755.22   287.250
4    0  08-AUG-13  07-AUG-14           08       1202      285451.24  4286.900

    OBJECT_ID  PROD_YEAR  SEATS_NUM  CARRYING_CAPACITY TYPE_VEHICLE  CCM_TON  \
0  5000029885     2007.0        4.0                6.0      Pick-up   3153.0
1  5000029885     2007.0        4.0                6.0      Pick-up   3153.0
2  5000029885     2007.0        4.0                6.0      Pick-up   3153.0
3  5000029885     2007.0        4.0                6.0      Pick-up   3153.0
4  5000029901     2010.0        4.0                7.0      Pick-up   2494.0

     MAKE      USAGE  CLAIM_PAID
0  NISSAN  Own Goods         NaN
1  NISSAN  Own Goods         NaN
2  NISSAN  Own Goods         NaN
3  NISSAN  Own Goods         NaN
4  TOYOTA  Own Goods    19894.43

In [5]:
print(df.tail())

        SEX INSR_BEGIN   INSR_END EFFECTIVE_YR  INSR_TYPE  INSURED_VALUE  \
293532    2  11-AUG-12  10-AUG-13           88       1201            0.0
293533    2  11-AUG-11  10-AUG-12           88       1201            0.0
293534    2  01-JUN-13  31-MAY-14           13       1201       250000.0
293535    0  08-JUL-12  07-JUL-13           85       1202            0.0
293536    0  08-JUL-11  07-JUL-12           85       1202            0.0

         PREMIUM   OBJECT_ID  PROD_YEAR  SEATS_NUM  CARRYING_CAPACITY  \
293532   577.700  5000047311     1985.0        4.0                NaN
293533   695.318  5000047311     1985.0        4.0                NaN
293534  4778.450  5000949222     1993.0        4.0                NaN
293535  1057.427  5000049231     2017.0        2.0                0.0
293536  1001.537  5000049231     2017.0        2.0                0.0

       TYPE_VEHICLE  CCM_TON    MAKE            USAGE  CLAIM_PAID
293532   Automobile   1295.0  TOYOTA          Private         NaN
293533   Automobile   1295.0  TOYOTA          Private         NaN
293534   Automobile   1295.0  TOYOTA          Private         NaN
293535        Truck   4570.0   ISUZU  General Cartage         NaN
293536        Truck   4570.0   ISUZU  General Cartage         NaN

In [8]:
print(df.columns)

Index(['SEX', 'INSR_BEGIN', 'INSR_END', 'EFFECTIVE_YR', 'INSR_TYPE',
       'INSURED_VALUE', 'PREMIUM', 'OBJECT_ID', 'PROD_YEAR', 'SEATS_NUM',
       'CARRYING_CAPACITY', 'TYPE_VEHICLE', 'CCM_TON', 'MAKE', 'USAGE',
       'CLAIM_PAID'],
      dtype='object')